body{
    font-family: "Open Sans", sans-serif;
    background: rgba(0,0,0,0.02);
    margin: 0;
    padding: 0;
}
#logo {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    padding: 10px 0 10px 30px;
    display: inline-block;
    vertical-align: middle;
}

#top {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

#author {
    display: inline-block;
    margin: 0;
    color: rgba(0,0,0,0.2);
    vertical-align: bottom;
    padding-bottom: 20px;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    margin-left: 40px;
}

#nav-bar li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 30px 10px 30px;
    color: #00BCD4;
    font-weight: 600;
    cursor: pointer;
}

#left {
    background-color: white;
    border-right: solid 1px rgba(0,0,0,0.1);
    width: 300px;
    height: 100%;
    padding-top: 100px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

#right {
    width: 400px;
    position: absolute;
    right: 50px;
    top: 100px;
}

#root {
    flex-flow: row;
    align-content: stretch;
    
}


@media all and (min-width: 1880px){
    #main {
        max-width: 1100px;
        min-width: 800px;
        margin: auto;
        margin-right: 500px;
    }
}
@media all and (max-width: 1880px) {
      #main{
          margin-left: 300px;
      }
}

#right-nav {
    background-color: #F0F0F0;
    min-height: 400px;
    margin-top: 100px;
    padding: 30px;
}

#wrap {
    margin: 100px;
}

.msg {
    color: rgba(0,0,0,0.4);
}

.msg>.time {
    margin-left: 20px;
}



h1 {
    font-size: 2em;
}

section {
    margin-bottom: 100px;
}

#left-nav li {
    list-style: none;
    margin-left: 2em;
    padding: 0;
}

ul {
    padding: 0;
}

#left-nav .link {
    color: #00BCD4;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#left-nav .item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-extended::before {
    content: "▼";
    color: #00BCD4;
    font-size: 0.8em;
}

#right-nav-title {
    font-size: 20px;
    color: #00BCD4;
    font-weight: 600;
}

.right-nav-item {
    list-style: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
}

a {
    cursor: pointer;
}

footer {
    height: 100px;
    padding-left: 300px;
}

#copy-right {
    margin-top: 30px;
    text-align: center;
    color: rgba(0,0,0,0.3)
}

#github-link {
    color: #00BCD4;
}
