body{
    font-family: "Open Sans", sans-serif;
    background: rgba(0,0,0,0.04);
    margin: 0;
    padding: 0;
}
#logo {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
    padding: 10px 0 10px 30px;
    display: inline-block;
    vertical-align: middle;
}

#top {
    /*border-bottom: solid 1px rgba(0,0,0,0.1);*/
    /*position: fixed;*/
    /*background-color: #84FFFF;*/
    /*width: 100%;*/
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0px 20px 50px -20px rgba(0,0,0,0.02);
    background-color: white;
}

#author {
    display: inline-block;
    margin: 0;
    color: rgba(0,0,0,0.2);
    vertical-align: bottom;
    padding-bottom: 20px;
}

#nav-bar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    max-width: 1000px;
    margin: auto;
    color: #00BCD4;
}

#nav-bar li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 40px;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
}

#left {
    /*background-color: white;*/
    /*border-right: solid 1px rgba(0,0,0,0.1);*/
    width: 300px;
    height: auto;
    /*padding-top: 100px;*/
    /*top: 0;
    left: 0;*/
    /*position: fixed;*/
    z-index: 10;
}

#right {
    width: 300px;
    /*position: absolute;
    right: 50px;
    top: 100px;*/
}

#root {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-start;
}


@media all and (min-width: 1880px){
    #main {
        /*max-width: 1100px;
        min-width: 800px;
        margin: auto;
        margin-right: 500px;*/
        width: 1000px;
    }
}
@media all and (max-width: 1880px) {

}

#right-nav {
    background-color: #F0F0F0;
    min-height: 400px;
    /*margin-top: 100px;*/
    padding: 30px;
}

#wrap {
    /*margin: 100px;*/
    padding: 0 50px;
}

.msg {
    color: rgba(0,0,0,0.4);
}

.msg>.time {
    margin-left: 20px;
}



h1 {
    font-size: 2em;
}



#left-nav li {
    list-style: none;
    margin-left: 2em;
    padding: 0;
}

ul {
    padding: 0;
}

#left-nav .link {
    color: #00BCD4;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#left-nav .item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-extended::before {
    content: "▼";
    color: #00BCD4;
    font-size: 0.8em;
}

#right-nav-title {
    font-size: 20px;
    color: #00BCD4;
    font-weight: 600;
}

.right-nav-item {
    list-style: none;
    padding: 20px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
}

a {
    cursor: pointer;
}

footer {
    height: 100px;
    padding-left: 300px;
}

#copy-right {
    margin-top: 30px;
    text-align: center;
    color: rgba(0,0,0,0.3)
}

#github-link {
    color: #00BCD4;
}

#left-nav {
    
}

.block {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.01)
}

#user-info {
    /*background-color: #84FFFF;*/
    height: 200px;
}

li {
    list-style: none;
}

.author-avatar {
    width: 75px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: bottom;
    /*box-shadow: 0px 0px 20px rgba(0,0,0,0.07);*/
    /*border: solid 1px rgba(0,0,0,0.1);*/
}

.post {
    padding: 30px;
}

.post .info-text {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 30px;
}

.author-name {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    color: #00bcd4;
}

.post-time {
    display: block;
    font-size: 0.9em;
    color: rgba(0,0,0,0.5);
    margin-top: 10px;
}

.post-text {
    margin-top: 20px;
}

.post-action {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    color: rgba(0,0,0,0.5);
    font-size: 0.8em;
}

.post-action > .number {
    display: inline-block;
    vertical-align: middle;
}

.post-action > .icon {
    display: inline-block;
    vertical-align: middle;
}

.post-footer {
    margin-top: 30px;
}

.post-action::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr; 
    vertical-align: middle;
    margin-right: 5px;
}

.post-like::before {
    content: "favorite_border";
}

.post-comment::before {
    content: "comment"
}

.post-forward::before {
    content: "launch"
}

.author-info {
    position: relative;
}

.button-post-expand {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    color: rgba(0,0,0,0.2);
}

#post-textbox {
    
    overflow: hidden;
    font-size: 1em;
    min-height: 5em;
    border-radius: 5px;
    width: auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
    line-height: 20px;
    resize: none;
    transition: height 0.5s;
}

.textbox {
    padding: 5px 10px;
}

*:focus{
    outline: none;
}

#content-publish {
    padding: 30px;
}

#logo-area {
    max-width: 1000px;
    margin: auto;
    padding-left: 50px;
    box-sizing: border-box;
}

.viewing {
    border-bottom: solid 4px #00BCD4;
}

textarea {
    border: none 0px;
    font-family: inherit;
}


